.footer{
    display: flex;
    height: 80px;
    font-size: 16px;
    color: black;
    opacity: 50%;
    background-color: rgba(200, 99, 241, 0.415);
    transform: translate(10px 10px);
}
.footer__content{
align-self: center;
margin: 0 auto;
}
