.nav {
}
.nav__list {
  display: flex;
  margin: 0;
  font-size: 31px;
  justify-content: space-around;
  padding: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(240 151 246 / 66%);
  color: #00688b;
  list-style: none;
}

nav__link {
  position: relative;
  transform: translate(20px 40px);
}

@media screen and (max-width: 700px) {
  .nav__list {
    font-size: 15px;
    transform: translate(0px, 1px);
  }
}
