@import url(../blocks/page.css);
@import url(../blocks/content.css);
@import url(../blocks/header.css);
@import url(../fonts.css);
@import url(../blocks/nav.css);
@import url(../blocks/cards.css);
@import url(../blocks/pages.css);
@import url(../blocks/footer.css);

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
